{% extends "base.html" %}

{% block main %}
{% for props in prop %}
    <div class="property-card">
        <img class="prop-image" src="{{ url_for('get_image', filename=props.property_photo) }}" alt="Property Image">
        <div class="prop-details">
            <h3>{{ props.title }}</h3>
            <p>{{ props.location }}</p>
            <div class="card-price"> {{ props.price}} </div>
        </div>
        <div class="card-btn">
            <a href ="{{ url_for('view_property', propertyid=props.property_id) }}">View Property</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
