{% extends "base.html" %}

{% block main %}
<div class="view-card">
    <img class="view-image" src="{{ url_for('get_image', filename=result.property_photo) }}" alt="View Property" />
    <div class="view-body">
        <h5 class="view-title">{{ result.title }}</h5>
        <div class="view-space">
            <div class="view-price">{{ result.price }}</div>
            <div class="view-type">{{ result.property_type }}</div>
        </div>
        <p>{{ result.description }}</p>
        <div class="rooms">
            <p>{{ result.num_bedrooms }} Bedrooms</p>
            <p>{{ result.num_bathrooms }} Bathrooms</p>
        </div>
        <p>{{ result.location }}</p>
        <button class="email-btn">Email Realtor</button>
    </div>
</div>

{% endblock %}