{% extends "base.html" %}

{% block main %}
<div class="view-card">
    <img src="{{ url_for('get_image', filename=result.property_photo) }}" alt="View Property" />
    <div class="view-body">
        <h4 class="view-title">{{ result.title }}</h4>
        <div class="view-space">
            <div class="view-price">{{ result.price }}</div>
            <div class="view-type">{{ result.property_type }}</div>
        </div>
        <p>{{ result.description }}</p>
        <p>
            {{ result.num_bedrooms }} Bedrooms
        </p>
        <p>
            {{ result.num_bathrooms }} Bathrooms
        </p>
        <p>
            {{ result.location }}
        </p>
        <button class="email-btn">Email Realtor</button>
    </div>
</div>

{% endblock %}